@use './variables' as *;

header {
    background-color: $primary;
    height: 100vh;
}

.navFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
        @include poppinsSemiBold
    }
    span {
        display: flex;
        align-items: center;
        p {
            margin: 0 20px 0 20px
        }
    }
}

.content {
    display: flex;
    .textContent {
        display: flex;
        flex-direction: column;
        .contactMeFlex {
            display: flex;
        }
    }
}