@media (max-width: 1340px) {
    .projects {
        height: 2400px;
    }
    
    .imageFlex {
        flex-direction: column;
        .card {
            margin-bottom: 40px;
        }
    }
    figure.container {
        height: 600px;
        width: 889px;
    }
}

@media (max-width: 1100px) {
    .content {
        flex-direction: column-reverse;
        justify-content: flex-end;
        .textContent h1 {
            font-size: 4rem;
        }
        .textContent p {
            margin-bottom: 10px;
        }
        .figureContainer {
            height: 400px; 
            width: 400px;
            figure {
                width: 350px; 
                height: 350px;
            }
        }
    }
}

@media (max-width: 920px) {
    .infoFlex .keyValueFlex {
        .key, .value {
            font-size: .7rem;
        }
    }
    .resumeSummary a.btn {
        margin-top: 0;
    }
    .projects {
        height: 1700px;
    }
    figure.container {
        height: 400px;
        width: 593px;
    }
    .getInTouch {
        height: 900px
    }
    .getInTouchFlex {
        flex-direction: column;
        .infoCol {
         margin: 20px 0 0 0;  
         text-align: center; 
         .marginBottom {
            margin: 0;
         }
         h2 {
            text-align: center;
         }
        }
        .contactForm {
            margin: 0;
            width: 80%;
            form {
                margin: 0;
            }
        }
    }
}

@media (max-width: 720px) {
    .aboutMeFlex {
        bottom: 0px;
    }
    .content .textContent h1 {
        font-size: 3rem;
        margin: 10px 0 10px 0;
    }
    .textFlex p {
        margin: 20px 0 20px 0;
    }

    section.aboutMe h2 {
        display: none;
    }

    .infoFlex {
        flex-direction: column;
        justify-content: space-evenly;
        height: 200px;
        .keyValueFlex {
            flex-direction: row;
            align-items: center;
        }
        .keyValueFlex .value {
            margin: 0 0 0 15px;
        }
    }
    .techStack {
        height: 400px;
        h2 {
            padding-top: 20px;
        }
    }
    .icons .card {
        i {
            font-size: 2.25rem;
        }
        figure {
            height: 50px; 
            width: 50px;
        }
        p {
            font-size: .8rem;
        }
    }
    .resumeSummary {
        height: 1400px;
    }
    .experienceContainer .resumeFlex {
        flex-direction: column;
    }
}

@media (max-width: 640px) {
    .projects {
        height: 1300px;
    }
    figure.container {
        height: 270px;
        width: 400px;
    }
    .getInTouch {
        height: 1100px;
    }
    .infoCol p {
        font-size: .8rem;
    }
    section.aboutMe {
        height: 750px
    }
}

@media (max-width: 500px) {
    .modal {
        width: 300px;
    }
}

@media (max-width: 410px) {
    .content {
        justify-content: center;
    }
    
    .content .textContent .contactMeFlex {
        flex-direction: column;
        .works {
            margin: 0;
        }
    }

    .content .figureContainer {
        display: none;
    }
    
    .navFlex h2 {
        font-size: 1rem;
    }
    .navFlex span p {
        margin: 0 0 0 5px;
    }

    .textFlex p {
        font-size: .8rem;
        line-height: 20px;
    }
    .techStack {
        height: 500px;
    }
    .techStackFlex {
        justify-content: flex-end;
    }
    .icons  {
        margin:0 40px 40px 0;
        .card {
        width: 25%;
        margin-bottom: 40px;
        }
        
    }
    .resumeSummary {
        height: 1500px;
    }
    .projects {
        height: 1100px;
    }
    figure.container {
        height: 200px;
        width: 296px;
    }
    footer .footerFlex p {
        font-size: .3rem;
    }
}

@media (max-width: 360px) {
    .content .textContent {
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.8rem;
        }
        p {
            font-size: .8rem;
            margin-bottom: 50px;
        }
    }
    .textFlex h3 {
        font-size: .8rem;
    }
    .icons .card  p{
        font-size: .5rem;
    }
    .resumeSummary {
        height: 1600px;
    }
}