@use '../variables' as *;

footer {
    height: 100px;
    background-color: black;
    
    .footerFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            color: white;
            font-size: .5rem;
            span {
                color: $primary;
            }
        }
    }
}