@use '../variables' as *;

.projects {
    height: 600px;
    background-color: rgb(248,249,250);
    h2 {
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
        position: relative;
        top: 50px;
    }
}

.projectsFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 90px);
    position: relative;
    top: 50px;
}

.titleFlex {
    display: flex
}

.imageFlex {
    display: flex;
    .card {
        text-align: center;
        .buttonFlex {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            a {
                display: inline-block;
                text-align: center;
                line-height: 45px;
                width: 100px;
            }
            a:visited {
                color: black
            }
        }
        
    }
}

// The idea for this next code block comes from https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade
.container {
    position: relative;
    margin: 5px;
    height: 290px;
    width: 430px;
    .centeredText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(248,249,250);
        font-size: 1.2rem;
        font-weight: 500;
        opacity: 0;
        transition: opacity 0.1s;
        user-select: none;
    }
    .blackText {
        color: black;
    }
}
.container:hover img {
    filter: blur(10px); 
}
  
.container:hover .centeredText {
    opacity: 1;
}

.small {
    margin-top: 10px;
    width: 100px
}

//this modal idea comes from https://www.freecodecamp.org/news/how-to-build-a-modal-with-javascript/

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    .modalFlex {
        display: flex;
        flex-direction: column;
        align-items: start;
        button {
            position: relative;
            bottom: 15px;
            right: 10px; 
            padding: 0.5rem 0.7rem;
            background: #eee;
            border-radius: 50%;
            border: none;
            cursor: pointer;
        }
        p {
            text-align: start;
            margin-bottom: 10px;
            cursor: default;
            span:hover {
                color: $primary;
                
            }
        }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 10;
  }

 .hidden {
   display: none;
 }