.dark {
    background: rgba(0, 0, 0, 0.5);
}

.header {
    height: 4.5rem;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: grid;
    justify-items: center;
    align-items: center;
    
}

.inline {
    display: inline;
}

.list {
    padding-left: 1rem;
    padding-right: 1rem;
    list-style-type: none;
    padding-bottom: 4rem;
    color: #EEEEEE;
    display: inline-block;
}

.button {
    display: inline-block;
    margin-right: .5rem;
}

.link {
    color: #EEEEEE;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    padding: .5rem;
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:hover {
    color: #b0abbd;
}

.floatLeft {
    position: absolute;
    float: left;
    width: 20%;
    margin-top: 25px;
}
