.profile {
  border-radius: 1%;
  border: 5px solid #062F5D;
  width: 35%;
  height: auto;
  user-select: none;
  margin-top: 10px;
}

.home {
  float: right;
  width: 40%;
  
}

.huge {
  font-size: 3rem;
  font-weight: 900;
  color: #EEEEEE; 
  
}

.medium {
  font-size: 1.2rem;
  color: #EEEEEE;
}


.popup {
  background-color: #CCCCCC;
  width: 100%;
  height: 100px;
  opacity: 1;
  border-radius: 1rem;
  font-size: 1rem;
  display: none;
}

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
}

