.grid {
    display: grid;
    align-items: end;
    justify-items: center;
    height: 65vh;
}
.container {
    margin-top: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 800px;
    height: 475px;
    border-radius: .5rem;
    padding: 1rem;
    border-width: .5rem;
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
    background-color: #CCCCCC;
    backface-visibility: hidden;
    
}


.center {
    display: grid;
    justify-content: center;
    align-items: center;
}

.title {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-top: 0%;
}

.pill {
    background-color: white;
    border-radius: 2rem;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
}

.pill1 {
    width: 20%;
    float: left;
    height: 5.5rem;
    border-right: 1px solid black;
}

.pill2 {
    width: 60%;
    float: left;
    height: 5.5rem;
    border-right: 1px solid black;
    display: grid;
    align-items: center;
}

.pill3 {
    width: 20%;
    height: 5.5rem;
    float: left;
}

.recognizerbackground {
    background-image: url('./Images/Facerecognizer-portfolio.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .butlerbackground {
    background-image: url('./Images/boredom-butler.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .text {
      margin: 1rem;
      
  }

  .button {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0!important;
    cursor: pointer;
    background-color: #ccdff2;
    font-weight: bold;
  }

  .modalButton {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: 0.2s ease,color 0.2s ease, box-shadow 0.2s ease;
  }

  .modalButton:hover {
        background: rgba(0,118,255,0.9);
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
  }

  .marginRight {
      margin-right: 1rem;
  }

  .marginLeft {
    margin-left: 1rem;
}

.padding {
    padding-bottom: 2rem;
}

.popup {
    position: absolute;
    right: 91rem;
    background-color: #CCCCCC;
    width: 20vw;
    height: 500px;
    opacity: 1;
    border-radius: .5rem;
    font-size: 1rem;
  }
  