
.grid {
    display: grid;
    align-items: end;
    justify-items: center;
    height: 70vh;
    background-image: url(./Images//bg-elements-header-edited.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.logo {
    width: 60%;
    height: 60%;
    margin-top: 3px;
}

.logoContainer {
    width: 75%;
}

.box {
    height: 75px;
    width: 75px;
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
    margin: 0% 3% 4% 3%;
    float: left;
}

.container {
    margin-top: 25px;
    display: grid;
    align-items: start;
    justify-items: center;
    width: 800px;
    height: 475px;
    border-radius: .5rem;
    border-width: .5rem;
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
    background-color: #CCCCCC;
    backface-visibility: hidden;
    
}

.title {
    margin-left: -32px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    margin-left: -30px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: 0.2s ease,color 0.2s ease, box-shadow 0.2s ease;
  }