html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 125%;
  color: RGBA(52, 58, 64, 1);
  overflow-x: hidden;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: inherit;
  display: block;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 125%;
  line-height: 1;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

header {
  background-color: RGBA(245, 223, 78, 1);
  height: 800px;
}

.navFlex {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navFlex h2 {
  font-weight: 500;
  font-size: 1.5rem;
}
.navFlex span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navFlex span p {
  margin: 0 20px 0 20px;
  font-weight: 500;
  font-size: 0.8rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100% - 70px);
}
.content .textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .textContent .contactMeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .textContent .contactMeFlex p, .content .textContent .contactMeFlex button, .content .textContent .contactMeFlex i {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.content .textContent .contactMeFlex .works {
  width: 207px;
  height: 54px;
  background-color: RGBA(52, 58, 64, 1);
  color: rgb(252, 252, 252);
  margin-right: 43px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.content .textContent .contactMeFlex .contactAnchorFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .textContent .contactMeFlex .contactAnchorFlex a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .textContent .contactMeFlex p {
  margin-right: 8px;
  font-weight: 500;
}
.content .textContent h1 {
  margin: 38px 0 38px 0;
  font-size: 5.25rem;
}
.content .textContent h2 {
  font-weight: 300;
  font-size: 2.4rem;
}
.content .textContent p {
  font-weight: 400;
  margin-bottom: 40px;
}
.content .figureContainer {
  background-color: rgb(252, 252, 252);
  border-radius: 50%;
  width: 440px;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .figureContainer figure {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .figureContainer figure img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  display: inline;
  margin: 0 auto;
  margin-left: -30%;
  height: 100%;
  width: auto;
}

section.aboutMe {
  height: 600px;
  background-color: rgb(255, 255, 255);
}
section.aboutMe h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 50px;
  z-index: 10;
}

.aboutMeFlex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 40px;
}

.textFlex h3 {
  margin-top: 31px;
  font-weight: 400;
}
.textFlex h3 span {
  font-weight: bold;
  border-bottom: 3px solid RGBA(245, 223, 78, 1);
}
.textFlex p {
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 66px;
  line-height: 30px;
}

.infoFlex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.infoFlex .keyValueFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.infoFlex .keyValueFlex .key {
  font-size: 0.8rem;
  font-weight: bold;
  color: #6C757D;
}
.infoFlex .keyValueFlex a {
  text-decoration: underline;
}
.infoFlex .keyValueFlex .value {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 17px;
  line-height: 18px;
}

.techStack {
  height: 600px;
  background-color: rgb(248, 249, 250);
}
.techStack h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding-top: 50px;
  z-index: 10;
  position: relative;
}

.techStackFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
  bottom: 90px;
  z-index: 0;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 10px 0 0 RGBA(245, 223, 78, 1), 20px 0 0 rgb(248, 249, 250), 30px 0 0 RGBA(245, 223, 78, 1), 0 10px 0 RGBA(245, 223, 78, 1), 10px 10px 0 rgb(248, 249, 250), 20px 10px 0 RGBA(245, 223, 78, 1), 30px 10px 0 rgb(248, 249, 250), 0 20px 0 rgb(248, 249, 250), 10px 20px 0 RGBA(245, 223, 78, 1), 20px 20px 0 rgb(248, 249, 250), 30px 20px 0 RGBA(245, 223, 78, 1), 0 30px 0 RGBA(245, 223, 78, 1), 10px 30px 0 rgb(248, 249, 250), 20px 30px 0 RGBA(245, 223, 78, 1), 30px 30px 0 rgb(248, 249, 250), 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 10px 0 0 RGBA(245, 223, 78, 1), 20px 0 0 rgb(248, 249, 250), 30px 0 0 RGBA(245, 223, 78, 1), 0 10px 0 RGBA(245, 223, 78, 1), 10px 10px 0 rgb(248, 249, 250), 20px 10px 0 RGBA(245, 223, 78, 1), 30px 10px 0 rgb(248, 249, 250), 0 20px 0 rgb(248, 249, 250), 10px 20px 0 RGBA(245, 223, 78, 1), 20px 20px 0 rgb(248, 249, 250), 30px 20px 0 RGBA(245, 223, 78, 1), 0 30px 0 RGBA(245, 223, 78, 1), 10px 30px 0 rgb(248, 249, 250), 20px 30px 0 RGBA(245, 223, 78, 1), 30px 30px 0 rgb(248, 249, 250), 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.icons .card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-bottom: 30px;
}
.icons .card figure {
  max-height: 100px;
  max-width: 100px;
  margin: 0;
}
.icons .card i {
  font-size: 4.5rem;
  color: black;
}
.icons .card p {
  margin-top: 10px;
  font-weight: 400;
}

.resumeSummary {
  height: 800px;
  background-color: rgb(255, 255, 255);
}
.resumeSummary h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 50px;
  margin-bottom: 65px;
}

.experienceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.experienceContainer .resumeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.educationFlex {
  margin: 0 5px 0 5px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.educationFlex h3 {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 51px 0 35px 0;
}
.educationFlex .educationItems {
  border-left: 2px solid RGBA(245, 223, 78, 1);
  padding-left: 17px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.educationFlex .educationItems .centerItem {
  border-top: 1px solid rgb(230, 237, 239);
  border-bottom: 1px solid rgb(230, 237, 239);
  padding: 17px 0 17px 0;
}
.educationFlex .educationItems .rightCenterItem {
  border-top: 1px solid rgb(230, 237, 239);
  border-bottom: 1px solid rgb(230, 237, 239);
  padding: 30px 0 30px 0;
}
.educationFlex .educationItems .educationItem h4 {
  font-weight: 500;
}
.educationFlex .educationItems .educationItem p {
  font-size: 0.8rem;
}
.educationFlex .educationItems .educationItem .greyText {
  color: #6C757D;
}
.educationFlex .educationItems .educationItem .institutionDate {
  margin-top: 12px;
  margin-bottom: 18px;
}
.educationFlex .educationItems .educationItem .centerItem {
  border-top: 1px solid rgb(230, 237, 239);
  border-bottom: 1px solid rgb(230, 237, 239);
}
.educationFlex .educationItems .educationItem .rightCenterItem {
  border-top: 1px solid rgb(230, 237, 239);
  border-bottom: 1px solid rgb(230, 237, 239);
  padding: 30px 0 30px 0;
}

.btn {
  width: 196px;
  height: 54px;
  border: 2px solid rgb(52, 58, 64);
  background: rgba(52, 58, 64, 0);
  margin-top: 70px;
  font-size: 0.8rem;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: RGBA(245, 223, 78, 1);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

a {
  text-align: center;
  line-height: 50px;
  color: black;
}

a:visited {
  color: black;
}

.projects {
  height: 1100px;
  background-color: rgb(248, 249, 250);
}
.projects h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 50px;
}

.projectsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 90px);
  position: relative;
  top: 50px;
}

.titleFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imageFlex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.imageFlex .card {
  text-align: center;
  width: calc(50% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.imageFlex .card .buttonFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 430px;
  margin-top: 10px;
}
.imageFlex .card .buttonFlex a {
  display: inline-block;
  text-align: center;
  line-height: 45px;
  width: 100px;
}
.imageFlex .card .buttonFlex a:visited {
  color: black;
}

.container {
  position: relative;
  margin: 5px;
  height: 290px;
  width: 430px;
}
.container .centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgb(248, 249, 250);
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container .blackText {
  color: black;
}

.container:hover img {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.container:hover .centeredText {
  opacity: 1;
}

.small {
  margin-top: 10px;
  width: 100px;
}

.toolsBtn {
  cursor: pointer;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal .modalFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.modal .modalFlex .buttonFlex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.modal .modalFlex button {
  position: relative;
  bottom: 15px;
  right: 10px;
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.modal .modalFlex p {
  text-align: start;
  margin-bottom: 10px;
  cursor: default;
}
.modal .modalFlex p span:hover {
  color: RGBA(245, 223, 78, 1);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 10;
}

.hidden {
  display: none;
}

.getInTouch {
  height: 600px;
  background-color: RGBA(245, 223, 78, 1);
}

.getInTouchFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.infoCol {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.infoCol h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
  text-align: start;
}
.infoCol p {
  line-height: 40px;
  font-weight: 500;
}
.infoCol .marginBottom {
  margin-bottom: 55px;
}
.infoCol .bold {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 20px;
}

.contactForm {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.contactForm form {
  margin-top: 73px;
}
.contactForm form input, .contactForm form label {
  display: block;
  width: 100%;
}
.contactForm form input, .contactForm form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(215, 196, 69);
  margin-bottom: 15px;
}
.contactForm form input {
  height: 50px;
  padding: 0 0 0 10px;
}
.contactForm form textarea {
  resize: none;
  width: 100%;
  height: 130px;
  padding: 10px 0 0 10px;
}
.contactForm form button {
  background-color: black;
  color: white;
  width: 155px;
  height: 50px;
  cursor: pointer;
}

footer {
  height: 100px;
  background-color: black;
}
footer .footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerFlex p {
  color: white;
  font-size: 0.5rem;
}
footer .footerFlex p span {
  color: RGBA(245, 223, 78, 1);
}

@media (max-width: 1340px) {
  .projects {
    height: 3500px;
  }
  .imageFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imageFlex .card {
    margin-bottom: 40px;
  }
  figure.container {
    height: 600px;
    width: 889px;
  }
}
@media (max-width: 1100px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .content .textContent h1 {
    font-size: 4rem;
  }
  .content .textContent p {
    margin-bottom: 10px;
  }
  .content .figureContainer {
    height: 400px;
    width: 400px;
  }
  .content .figureContainer figure {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 920px) {
  .infoFlex .keyValueFlex .key, .infoFlex .keyValueFlex .value {
    font-size: 0.7rem;
  }
  .resumeSummary a.btn {
    margin-top: 0;
  }
  .projects {
    height: 2500px;
  }
  .projects .imageFlex .card {
    width: calc(100% - 15px);
  }
  figure.container {
    height: 400px;
    width: 593px;
  }
  .getInTouch {
    height: 900px;
  }
  .getInTouchFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .getInTouchFlex .infoCol {
    margin: 20px 0 0 0;
    text-align: center;
  }
  .getInTouchFlex .infoCol .marginBottom {
    margin: 0;
  }
  .getInTouchFlex .infoCol h2 {
    text-align: center;
  }
  .getInTouchFlex .contactForm {
    margin: 0;
    width: 80%;
  }
  .getInTouchFlex .contactForm form {
    margin: 0;
  }
}
@media (max-width: 720px) {
  .aboutMeFlex {
    bottom: 0px;
  }
  .content .textContent h1 {
    font-size: 3rem;
    margin: 10px 0 10px 0;
  }
  .textFlex p {
    margin: 20px 0 20px 0;
  }
  section.aboutMe h2 {
    display: none;
  }
  .infoFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 200px;
  }
  .infoFlex .keyValueFlex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infoFlex .keyValueFlex .value {
    margin: 0 0 0 15px;
  }
  .techStack {
    height: 400px;
  }
  .techStack h2 {
    padding-top: 20px;
  }
  .icons .card i {
    font-size: 2.25rem;
  }
  .icons .card figure {
    height: 50px;
    width: 50px;
  }
  .icons .card p {
    font-size: 0.8rem;
  }
  .resumeSummary {
    height: 1400px;
  }
  .experienceContainer .resumeFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 640px) {
  .projects {
    height: 2000px;
  }
  figure.container {
    height: 270px;
    width: 400px;
  }
  .getInTouch {
    height: 1100px;
  }
  .infoCol p {
    font-size: 0.8rem;
  }
  section.aboutMe {
    height: 750px;
  }
}
@media (max-width: 500px) {
  .modal {
    width: 300px;
  }
}
@media (max-width: 410px) {
  .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .textContent .contactMeFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .textContent .contactMeFlex .works {
    margin: 0;
  }
  .content .figureContainer {
    display: none;
  }
  .navFlex h2 {
    font-size: 1rem;
  }
  .navFlex span p {
    margin: 0 0 0 5px;
  }
  .textFlex p {
    font-size: 0.8rem;
    line-height: 20px;
  }
  .techStack {
    height: 500px;
  }
  .techStackFlex {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .icons {
    margin: 0 40px 40px 0;
  }
  .icons .card {
    width: 25%;
    margin-bottom: 40px;
  }
  .resumeSummary {
    height: 1500px;
  }
  .projects {
    height: 1500px;
  }
  figure.container {
    height: 200px;
    width: 296px;
  }
  footer .footerFlex p {
    font-size: 0.3rem;
  }
}
@media (max-width: 360px) {
  .content .textContent h1 {
    font-size: 2rem;
  }
  .content .textContent h2 {
    font-size: 1.8rem;
  }
  .content .textContent p {
    font-size: 0.8rem;
    margin-bottom: 50px;
  }
  .textFlex h3 {
    font-size: 0.8rem;
  }
  .icons .card p {
    font-size: 0.5rem;
  }
  .resumeSummary {
    height: 1600px;
  }
}